* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popover {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & &-btn {
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);

    &:hover {
      transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      cursor: pointer;
      background-color: aliceblue;
      color: #3498db;
    }
  }
  & &-text {
    font-family: monospace;
    margin: 20px;
    width: 500px;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.503);
    border-radius: 10px;
    padding: 20px;
  }
}
